<%= render 'main_header' %>
<ul>
	<li><a href="http://www.indiamp3.com/">INDIAMP3.COM</a></li>
	<li><a href="http://www.songsmp3.info/1/bollywood-music.html">SONGSMP3.INFO</a></li>
	<li><a href="http://downloadming.io/bollywood-mp3">DOWNLOADMING.IO</a></li>
	<li><a href="http://www.maango.me/hindi/">MAANGO</a></li>
	<li><a href="http://djpunjab.com/bollywood-music.php">DJPUNJAB.COM</a></li> 
	<li><a href="http://newmaza.in/site_new_bollywood_songs.xhtml">NEWMAZA.IN</a></li>
	<li><a href="http://wapking.site/categorylist/99/default/1.html">WAPKING.SITE</a></li>
	<li><a href="http://songspk.songs3.org/">SONGSPK</a></li>
	<li><a href="http://music.vidmate.mobi/list/language-Hindi.html">MUSIC.VIDMATE.MOBI</a></li>
	<li><a href="http://gaana.com/album">GAANA.COM</a></li>
	<li><a href="http://pagalworld.info/category/6757/Latest%20Bollywood%20Hindi%20Music.html">PAGALWORLD.INFO</a></li>
	<li><a href="http://www.clickmaza.com/">CLICKMAZA.COM</a></li>
	<!-- <li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>  -->
</ul>