<%= render 'main_header' %>
<ul>
	<li><a href="https://www.jamendo.com/charts/bygenre">JAMENTO</a></li>
	<li><a href="http://www.songsmp3.info/1/bollywood-music.html">SONGSMP3</a></li>
	<li><a href="http://downloadming.io/bollywood-mp3">DOWNLOADMING</a></li>
	<li><a href="http://www.maango.me/hindi/">MAANGO</a></li>
	<li><a href="http://newmaza.in/site_new_bollywood_songs.xhtml">NEWMAZA</a></li>
	<li><a href="http://wapking.site/categorylist/99/default/1.html">WAPKING</a></li>
	<li><a href="http://songspk.songs3.org/">SONGSPK</a></li>
	<!-- <li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li> -->
</ul>