<%= render 'main_header' %>
<ul>
	<li><a href="http://wapsow.com/go/sapana-dehati-songs.html">WAPSOW.COM(SAPNA DANCE)</a></li>
	<li><a href="http://mp3songx.com/phqja/download-new-song-dehati-mp3.html">MP3SONGX.COM</a></li>
	<li><a href="http://mr-johal.com/menu.php?cat=Haryanavi">MR-JOHAL.COM</a></li>
	<li><a href="http://vipwap.in/index.xhtml">VIPWAP.IN</a></li>
	<li><a href="http://hrmasti.com/index.xhtml">HRMASTI.COM</a></li>
	<li><a href="http://djpuri.com/index.xhtml">DJPURI.COM</a></li>
	<li><a href="http://mr-jatt.com/category.php?c=Haryanvi">MR-JATT.COM</a></li>
	<li><a href="http://gaana.com/genre/haryanvi/albums">GAANA.COM</a></li>
	<!--<li><a href=""></a></li>
    <li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li> -->
</ul>
