<%= render 'main_header' %>
<ul>
	<li><a href="https://www.jamendo.com/charts/bygenre">JAMENTO.COM</a></li>
	<li><a href="http://sourcemp3.com/">SOURCEMP3.COM</a></li>
	<li><a href="https://songslover.mobi/">SONGSLOVER.MOBI</a></li>
	<li><a href="http://music.vidmate.mobi/">MUSIC.VIDMATE.MOBI</a></li>
	<li><a href="http://mr-johal.com/menu.php?cat=English">MR-JOHAL.COM</a></li>
	<li><a href="http://songclubs.com/categorylist/424/all_hollywood_artists_(singers)_mp3_songs_collections/default/1">SONGCLUBS.COM</a></li>
	<li><a href="http://music.vidmate.mobi/list/language-English.html">MUSIC.VIDMATE.MOBI</a></li>
	<li><a href="http://gaana.com/album/english">GAANA.COM</a></li>
	<!-- <li><a href="https://soundcloud.com/"></a></li>
	<li><a href="http://noisetrade.com/"></a></li> -->
	<li><a href="http://www.jango.com/">JANGO.COM</a></li>
</ul>