<%= render 'main_header' %>
<ul>
	<!-- <li><a href="https://www.jamendo.com/charts/bygenre">D</a></li> -->
	<li><a href="http://djpunjab.com/punjabi_music.php">DJPUNJAB.COM</a></li>
	<li><a href="http://mr-jatt.com/Punjabi_Music.html">MR-JATT.COM</a></li>
	<li><a href="http://riskyjatt.in/Punjabi-mp3-songs.html">RISKYJATT.IN</a></li>
	<li><a href="http://mr-johal.com/category.php?cat=Punjabi">MR-JOHAL.COM</a></li>
	<li><a href="http://dj-punjabi.com/punjabi-songs.php">DJ-PUNJABI.COM</a></li>
	<li><a href="http://music.vidmate.mobi/list/language-Punjabi.html">MUSIC.VIDMATE.MOBI</a></li>
	<li><a href="http://pagalworld.info/category/5738/Punjabi%20Songs.html">PAGALWORLD.INFO</a></li>
	<li><a href="http://gaana.com/newrelease/punjabi">GAANA.COM</a></li>
	<li><a href="http://freshmaza.org/beta/13370/Punjabi%20Mp3%20%20Songs/1.html">FRESHMAZA.ORG</a></li>
	<!-- <li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li> -->
</ul>