<%= render 'main_header' %>
<ul><!-- 
	<li><a href="https://www.jamendo.com/charts/bygenre">Download From Jamento</a></li> -->
	<li><a href="http://www.mobmp4.com/Songs/184/Latest-Bollywood-Songs/default/0.html">MOBMP4.COM</a></li>
	<li><a href="http://video9.in/hindi/">VIDEO9.IN</a></li>
	<li><a href="http://pagalworld.info/category/10057/PagalWorld%20-%20Bollywood%20HD%20Video%20Songs%202016.html">PAGALWORLD.INFO</a></li>
	<li><a href="http://videoming.com/categorylist/1/bollywood/default/1">VIDEOMING.COM</a></li>
	<li><a href="http://hdsongz.com/video/index.php?cat=Latest%20Hindi">HDSONGZ.COM</a></li>
	<!-- <li><a href=""></a></li>
	<li><a href=""></a></li> -->
	<li><a href="http://mfreshmaza.com/hindi-songs.php">MFRESHMAZA.COM</a></li>
	<li><a href="http://www.freehd.in/bollywood-hd-video-songs.php">FREEHD.IN</a></li>
</ul>