<%= render 'main_header' %>
<ul>
	<li><a href="http://djpunjab.video">DJPUNJAB.VIDEO</a></li>
	<li><a href="http://mr-jatt.com/Punjabi_Videos.php">MR-JATT.COM</a></li>
	<li><a href="http://hdsongz.com/video/index.php?cat=Latest%20Punjabi">HDSONGZ.COM</a></li>
	<li><a href="http://djpunjab.click/vdo/view.php?cat=punjabi_videos">DJPUNJAB.CLICK</a></li>
	<!-- <li><a href="http://djpunjab.video/video/latest.php"></a></li>
	 --><li><a href="http://vipkhan.net/HD/home/8/Punjabi+Videos+Full+HD.html">VIPKHAN.NET</a></li>
	<!-- <li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li>
	<li><a href=""></a></li> -->
</ul>