 <!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
 <html lang="en"> <!--<![endif]-->
<head>
	<title>All In one download</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">	
 <link href="assets/bootstrap.min.css" type="text/css" rel="stylesheet" />
  <link href="assets/custom.css" type="text/css" rel="stylesheet" />
 <script type="text/javascript" src="/assets/bootstrap.js"></script>
</head>
<body>
	<!-- <div class="dropdown">
	<button class="dropbtn">Dropdown</button>
	<div class="dropdown-content">
	  <a href="#" class="dropdown">Link 1</a>
	  <a href="#" class="dropdown">Link 2</a>
	  <a href="#" class="dropdown">Link 3</a>
	</div>
	</div> -->
	<ul class="nav nav-tabs">
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">
	WALLPAPERS <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="#">ANIMALS</a></li>
		<li><a href="#">NATURE</a></li>
		<li><a href="#">ACTRESS</a></li>
		<li><a href="#">ACTORS</a></li>
	</ul>
	</li>
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">
	MP3 SONGS <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/bollywood_mp3">BOLLYWOOD</a></li>
		<li><a href="hollywood_mp3">HOLLYWOOD</a></li>
		<li><a href="punjabi_mp3">PUNJABI</a></li>
		<li><a href="dehati_mp3">DEHATI</a></li>
	</ul>
	</li>
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">
	VIDEO SONGS <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="bollywood_videos">BOLLYWOOD</a></li>
		<li><a href="hollywood_videos">HOLLYWOOD</a></li>
		<li><a href="punjabi_videos">PUNJABI</a></li>
		<li><a href="dehati_videos">DEHATI</a></li>
	</ul>
	</li>
	<li class="dropdown">
	<a class="dropdown-toggle" data-toggle="dropdown">
	MOVIES <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="bollywood_movies">BOLLYWOOD</a></li>
		<li><a href="hollywood_movies">HOLLYWOOD</a></li>
		<li><a href="punjabi_movies">PUNJABI</a></li>
		<li><a href="dehati_movies">DEHATI</a></li>
	</ul>
	</li>
	</ul>
	<div class="container">
		<div class="row">
			<div class="you-tube-block">
				<div class="you-tube" id="" style="width:1000px; height:100px;">
					<form action="http://www.youtube.com/results" method="get" target="_self" >
						<input name="search_query" type="text" maxlength="128" placeholder="enter" />
						<!-- <select name="search_type">
						<option value="">Videos</option>
						<option value="search_users">Channels</option>
						</select> -->
						<input type="submit" value="Search" />
					</form>
				</div>
			</div>
			<div class="row">
				<div class="you-tube-downloader">
							<!-- <div id="topBar"> <a href ="https://www.youtube.com/" onclick="load_home()"> HOME </a> </div>
				 -->
				 <button onclick="myFunction()">Try it</button>
				</div>
			</div>
		</div>
	</div>
	 <li><a href="#youtube">Youtube</a></li>
</body>
</html>
 <script>
function myFunction() {
    var myWindow = window.open("https://www.youtube.com/", "myWindow", "width=500,height=500");
}

  </script>